body, td, div#screen, p,pre, input[type=text]{
	background-color:black;
	color:#8f8;
	font-family:monospace;
	font-size:18px;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

#kc{ 
	display:none;
}

input[type=text]{
	border:0;
	outline:none;
	width:100%;
}

table#il{
	width:100%;
	border-collapse:collapse;
}

td#ii{
	width:100%;
	padding:0;
	margin:0;
}

p {
	margin: 0 0 10 0px;
}