A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
all.titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
all.autor {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
