<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta property="og:image" content="https://www.eldiletantedigital.com/style/images/edd.jpg" />
	<meta property="og:title" content="El Diletante Digital, creado por Kevin Beovides Casas" />
	<meta property="og:site_name" content="El Diletante Digital, creado por Kevin Beovides Casas"/>
	<meta property="og:url" content="https://www.eldiletantedigital.com" />
	<meta property="og:description" content="El Diletante Digital es una web dedicada al arte de los nuevos medios, arte digital, arte ascii, net.art, literatura digital, creada por Kevin Beovides Casas" />
	<meta property="article:author" content="https://www.facebook.com/eldiletantedigital" />
	
	<meta name="description" content="<:DESCRIPTION/>">
	<meta name="author" content="<:AUTHOR/>">
	<meta name="keywords" content="<:KEYWORDS/>">
	<title><:TITLE/></title> 
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="/style/images/favicon.ico">

	<!-- Stylesheets -->
	<link href="/style/css/bootstrap.min.css" rel="stylesheet">
	<link href="/style/css/plugins.min.css" rel="stylesheet">
	<link href="/style/css/prettify.css" rel="stylesheet">
	<link href="/style/css/style.min.css" rel="stylesheet">
	<link href="/style/css/color/green.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
	<link href="/style/type/fontello.min.css" rel="stylesheet">
	<link href="/style/type/budicons.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!-- [if lt IE 9]>
		  <script src="style/js/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		  <![endif]-->

	<!-- Custom Stylesheet  -->
	<style>
		.myjustify {
			text-align: justify;
		}

		#alegreya {
			font-family: 'Alegreya Sans', sans-serif;
		}

		@media all and (max-width: 600px){
			.zoom-this {
				font-size: 22px;
			}
		}

		.navbar-brand {
			padding-top: 4px !important;
		}
	</style>
</head>
<body class="full-layout">
	<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
	<div class="body-wrapper">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
				<div class="navbar-brand text-center"> <a href="/"><img src="/style/images/logo.png" alt="" class="retina" /> <!-- data-src="/style/images/logo.png" data-ret="/style/images/logo@2x.png" --> </a> </div>
				<!-- /.navbar-brand -->
			</div>
			<!-- /.navbar-header -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="current"><a href="#home"><:HOME_MENU/></a></li>
					<li><a href="#portfolio"><:PORTFOLIO_MENU/></a></li>
					<li><a href="#about"><:ABOUT_MENU/></a></li>
					<li><a href="#contact"><:CONTACT_MENU/></a></li>
					<li><a href="https://textartstore.com" target="_blank"><:SHOP_MENU/></a></li>
					<li><:LANG_MENU/></li>
					<!-- <li><a href="#elsewhere" class="fancybox-inline" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-1"></i><span></span></a></li> -->
				</ul>
				<!-- /.navbar-nav -->
			</div>
			<!-- /.navbar-collapse -->

			<!--
			<div id="elsewhere" style="display:none;">
				<h1>Comparte en: </h1>
				<div class="divide20"></div>
				<ul class="social">
					<li><a href="https://twitter.com/intent/tweet?text=Visite%20El%20Diletante%20Digital%20www.eldiletantedigital.com" target="_blank"><i class="icon-s-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/sharer.php?u=www.eldiletantedigital.com" target="_blank"><i class="icon-s-facebook"></i></a></li>
					<li><a href="https://plus.google.com/share?url=www.eldiletantedigital.com" target="_blank"><i class="icon-s-gplus"></i></a></li>
					<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=www.eldiletantedigital.com&title=eldiletantedigital&summary=eldiletantedigital&source=www.eldiletantedigital.com&submitted-image-url=www.eldiletantedigital.com" target="_blank"><i class="icon-s-linkedin"></i></a></li>
				</ul>
			</div>
			-->
			<!-- /#elsewhere -->

		</nav>
		<!-- /.navbar -->

		<section id="home" class="naked">
			<div class="fullscreenbanner-container revolution">
				<div class="fullscreenbanner">
					<ul>
						<li data-transition="fade">
							<img src="/style/images/dummy.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
							<h1 id="alegreya" class="tp-caption caption large sfb" data-x="center" data-y="center" data-voffset="-15" data-speed="900" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut"><span class="zoom-this"><:MAIN_LABEL/></span></h1>

							<div class="tp-caption small tp-fade fadeout tp-resizeme" data-x="center" data-y="center" data-voffset="15" data-speed="100"
							data-start="1500"
							data-easing="Power4.easeOut"
							data-splitin="chars"
							data-splitout="chars"
							data-elementdelay="0.03"
							data-endelementdelay="0"
							data-endspeed="100"
							data-endeasing="Power1.easeOut"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"><:TAG_LINE/></div>

							<div class="arrow smooth"><a href="#portfolio"><i class="icon-down-open-big"></i></a></div>
						</li>
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			  <!-- /.fullscreenbanner -->
			</div>
			<!-- /.revolution -->
		</section>
		<!-- /#home -->

		<div class="container">
			<section id="portfolio" class="portfolio">
				<div class="box">
					<h2 class="section-title pull-left"><:PORTFOLIO_LABEL/></h2>

					<div id="filters-container" class="cbp-l-filters-alignRight pull-right">
						<div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn"><:ALL_LINK/></div>
						<div data-filter=".newmedia" class="cbp-filter-item-custom btn"><:ARTWARE_LINK/></div>
						<div data-filter=".asciiart" class="cbp-filter-item-custom btn"><:AART_LINK/></div>
						<!-- <div data-filter=".netart" class="cbp-filter-item-custom btn"><:NETART_LINK/></div>  -->
						<div data-filter=".cyber" class="cbp-filter-item-custom btn"><:CYBER_LINK/></div>
						<div data-filter=".otras" class="cbp-filter-item-custom btn"><:OTHER_LINK/></div>
					</div>
					<!-- /#filters-container -->

					<div class="clearfix"></div>

					<div id="grid-container" class="cbp-l-grid-masonry">
						<ul>
							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.3526580204069462"> <!-- https://www.facebook.com/pg/eldiletantedigital/photos/?tab=album&album_id=2696416267085864 -->
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/laura.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_ST/></div>
									</div>
								  </div>
								</div>
								</a>
							</li>
							
							<li class="cbp-item frame asciiart newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_MIRROR_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/espejo.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title"><:PORTFOLIO_MIRROR/></div>
									</div>
									</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_CUMMINGS_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/cummings.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_CUMMINGS/></div>
										</div>
									</div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_SOCIALISMO_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/socialismo.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_SOCIALISMO/></div>
										</div>
									</div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="/works/padi/netart/npc/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/npc.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_GRAY/></div>
									</div>
								  </div>
								</div>
								</a> 
							 </li>

							 <li class="cbp-item frame newmedia"> <a class="cbp-caption" href="/works/padi/netart/kiss/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/kiss.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_KISS/></div>
									  <:PORTFOLIO_KISS_SUB/>
									</div>
								  </div>
								</div>
								</a> 
							 </li>
							 
							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771777772883066"> <!-- http://eldiletantedigital.deviantart.com/gallery/42253125/R-E-M -->
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/rem.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_REM/></div>
								  </div>
								</div>
							  </div>
							  </a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_SMILE_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/smile.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_SMILE/></div>
										</div>
									</div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame otras"> <a class="cbp-caption" href="https://www.facebook.com/watch/771760479551462/219474116015019" target="_blank"> <!-- cbp-singlePage   ajax/epitafios.html https://vimeo.com/album/5222606 -->
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/epitafios.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_EPITAPHS/></div>
									<:PORTFOLIO_EPITAPHS_SUB/>
								  </div>
								</div>
							  </div>
							  </a>
							</li>

							<li class="cbp-item frame cyber"> <a class="cbp-caption" href="/works/padi/cyber/yonky/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/yonky.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_JUNKIE/></div>
									  <:PORTFOLIO_JUNKIE_SUB/>
									</div>
								  </div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_NFT_ROUTE/>" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/nft.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_NFT/></div>
									</div>
								  </div>
								</div>
								</a> 
							 </li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771782549549255"> <!-- http://eldiletantedigital.deviantart.com/gallery/44429481/Eternal-Rebuild-of-a-Perfect-Bug -->
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/bug.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_BUG/></div>
								  </div>
								</div>
							  </div>
							  </a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="/works/padi/netart/gombrich/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/gombrich.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_GLITCH/></div>
									</div>
								  </div>
								</div>
								</a>
							  </li>

							<li class="cbp-item frame otras"> <a class="cbp-caption" href="http://aleph.eldiletantedigital.com/pens.html" target="_blank">
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/aleph.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_ALEPH/></div>
									<:PORTFOLIO_ALEPH_SUB/>
								  </div>
								</div>
							  </div>
							  </a>
							</li>
						
							<li class="cbp-item frame cyber"> <a class="cbp-caption" href="/works/padi/cyber/greca/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/greca.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_GRECA/></div>
									</div>
								  </div>
								</div>
								</a>
							</li>

							 <li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_0FUCKS_ROUTE/>">
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/0fucks.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignCenter">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title"><:PORTFOLIO_0FUCKS/></div>
											</div>
										</div>
									</div>
									</a> 
								</li>
							 
							 <li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_INTIMACY_ROUTE/>">
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/intimacy.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_INTIMACY/></div>
									 <:PORTFOLIO_INTIMACY_SUB/>
								  </div>
								</div>
							  </div>
							  </a>
							</li>
							
							 <li class="cbp-item frame cyber"> <a class="cbp-caption" href="/works/padi/cyber/deadroid/index.html" target="_blank">
							  <div class="cbp-caption-defaultWrap"> <img src="/style/images/art/deadroid.jpg" alt=""> </div>
							  <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
								  <div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_DEADROID/></div>
								  </div>
								</div>
							  </div>
							  </a>
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771780512882792"> <!-- http://eldiletantedigital.deviantart.com/gallery/41848903/Couple -->
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/couple.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_COUPLE/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.922489801145195"> <!-- http://eldiletantedigital.deviantart.com/gallery/55968031/Days-of-Youth-I -->
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/days1.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_YOUTH_I/></div>
									</div>
								  </div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set?vanity=eldiletantedigital&set=a.3315197608541057">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/days4.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_YOUTH_IV/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set?vanity=eldiletantedigital&set=a.3315200755207409">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/days5.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_YOUTH_V/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771781626216014"> <!-- http://eldiletantedigital.deviantart.com/gallery/43320168/Erotica -->
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/erotica.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_EROTIC/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="/works/padi/netart/oscuridad/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/oscuridad.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title"><:PORTFOLIO_OBSCURITY/></div>
									</div>
									</div>
								</div>
								</a> 
							</li>
							
							<li class="cbp-item frame cyber"> <a class="cbp-caption" href="works/padi/cyber/papelesucios/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/sucios.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_DIRTY/></div>
									<:PORTFOLIO_DIRTY_SUB/>
									</div>
								</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame cyber"> <a class="cbp-caption" href="works/padi/cyber/suicida/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/suicida.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_SUICIDE/></div>
										</div>
									</div>
								</div>
								</a> 
							</li> 

							<!-- 
							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.2696416267085864"> https://www.facebook.com/pg/eldiletantedigital/photos/?tab=album&album_id=2696416267085864
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/lisa.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_ST/></div>
										</div>
										</div>
									</div>
									</a>
									</li>

								<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.2721750357885788"> 
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/lina.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_ST/></div>
										</div>
										</div>
									</div>
									</a>
									</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.971130256281149"> http://eldiletantedigital.deviantart.com/gallery/57255033/Days-of-Youth-II
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/days2.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
									  <div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										  <div class="cbp-l-caption-title"><:PORTFOLIO_YOUTH_II/></div>
										</div>
									  </div>
									</div>
									</a> 
								</li>
								  
							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.984908494903325"> http://eldiletantedigital.deviantart.com/gallery/57586829/Days-of-Youth-III
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/days3.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_YOUTH_III/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>
							
							<li class="cbp-item frame asciiart newmedia"> <a class="cbp-caption" href="https://vimeo.com/280112250" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/vuk.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_VUK/></div>
									<:PORTFOLIO_VUK_SUB/>
									</div>
								</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="works/padi/netart/dilema/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/dilema.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_SOCIALISMO/></div>
									</div>
								</div>
								</div>
								</a> 
							</li>	
					
							<li class="cbp-item frame newmedia"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_SANITIZE_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/sanitize.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_SANITIZE/></div>
										</div>
									</div>
								</div>
								</a> 
							</li>
						
							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="https://vimeo.com/133819541" target="_blank">   cbp-singlePage     ajax/death.html 
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/death.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_DEATH/></div>
										</div>
									</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771781229549387"> http://eldiletantedigital.deviantart.com/gallery/47566546/Paisaje-con-Mujer
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/paisaje.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_LANDSCAPE/></div>
									</div>
								  </div>
								</div>
								</a> 
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="works/padi/netart/canibalismo/index.php" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/canibalismo.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title"><:PORTFOLIO_CANNIBALISM/></div>
									</div>
								</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame newmedia"> <a class="cbp-caption" href="works/padi/netart/apariciones/index.html" target="_blank">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/apariciones.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
								  <div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
									  <div class="cbp-l-caption-title"><:PORTFOLIO_APPARITIONS/></div>
									</div>
								  </div>
								</div>
								</a> 
							  </li>

							<li class="cbp-item frame netart"> <a class="cbp-caption" href="/blog/tag/megacity-blues/" target="_blank">
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/megacity.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title"><:PORTFOLIO_BLUES/></div>
										</div>
									</div>
									</div>
									</a>
								</li> 

							<li class="cbp-item frame artware"> <a class="cbp-caption cbp-singlePage" href="<:PORTFOLIO_ECUCLIDES_ROUTE/>">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/euclides.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<div class="cbp-l-caption-title"><:PORTFOLIO_EUCLIDES/></div>
										</div>
									</div>
								</div>
								</a> 
							</li>
							
						    <li class="cbp-item frame cyber"> <a class="cbp-caption" target="_blank" href="/works/padi/cyber/bennett/index.html">
								<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/bennett.jpg" alt=""> </div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title"><:PORTFOLIO_BENNETT/></div>
										<:PORTFOLIO_BENNETT_SUB/>
									</div>
									</div>
								</div>
								</a>
							</li>

							<li class="cbp-item frame asciiart"> <a class="cbp-caption" target="_blank" href="https://www.facebook.com/media/set/?vanity=eldiletantedigital&set=a.771783046215872"> http://eldiletantedigital.deviantart.com/gallery/47934351/Various
									<div class="cbp-caption-defaultWrap"> <img src="/style/images/art/varios.jpg" alt=""> </div>
									<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title"><:PORTFOLIO_VARIOUS/></div>
										</div>
									</div>
									</div>
									</a> 
								</li>  -->

						</ul>
					</div>
					<!-- /.cbp-l-grid-masonry -->

					<div class="cbp-l-loadMore-button"> <a href="<:MORE_URL/>" class="cbp-l-loadMore-button-link btn"><:MORE_BTN/></a></div>

				</div>
				<!-- /.box -->

			</section>

			<!-- /#portfolio -->

			<section id="about">
				<div class="box">
					<h2 class="section-title"><:ABOUT_LABEL/></h2>
					<div class="row">
						<div class="col-md-3 col-md-push-9 col-sm-12">
							<figure class="frame"><img src="/style/images/art/avatarfinal.jpg" alt="" /></figure>
						</div>
						<!-- /column -->
						<div class="col-md-9 col-md-pull-3 col-sm-12">
							<!-- <p class="lead">"El diletantismo es noble, y quien es noble es diletante. Por el contrario, es vulgar todo lo que significa gremio y especialidad y profesión." Johann Wolfgang Goethe </p> -->
							<!-- class="myjustify"  -->
							<:ABOUT_SUBLABEL/>
						</div>
						<!-- /column -->
					</div>
					<!-- /.row -->

					<div class="clearfix"></div>

					<div class="divide40"></div>

					<!--
					<h2 class="section-title"> My Services </h2>
					-->

					<div class="divide10"></div>

					<div class="services-1">
						<div class="row">
							<:ABOUT_CONTENT_EDD/>

							<:ABOUT_CONTENT_THEORY/>

							<:ABOUT_CONTENT_DIV/>

							<:ABOUT_CONTENT_STORE/>

							<:ABOUT_CONTENT_LICENCE/>
						</div>
						<!-- /.row -->

					</div>
					<!-- /.services -->

				</div>
				<!-- /.box -->

			</section>
			<!-- /#about -->

			<section id="contact">
				<div class="box">
					<h2 class="section-title"><:CONTACT_LABEL/></h2>
					<p><:CONTACT_SUBLABEL/></p>
					<div class="divide20"></div>

					<!--
					<div class="row text-center services-2">
						<div class="col-md-3 col-sm-6"> <i class="budicon-map"></i>
							<p>Moon Street Light Avenue <br />
							14/05 Jupiter, JP 80630</p>
						</div>
						<div class="col-md-3 col-sm-6"> <i class="budicon-telephone"></i>
							<p>00 (123) 456 78 90 <br />
							00 (987) 654 32 10 </p>
						</div>
						<div class="col-md-3 col-sm-6"> <i class="budicon-mobile"></i>
							<p>00 (123) 456 78 90 <br />
							00 (987) 654 32 10 </p>
						</div>
						<div class="col-md-3 col-sm-6"> <i class="budicon-mail"></i>
							<p> <a class="nocolor" href="mailto:#">manager@email.com</a> <br />
							<a class="nocolor" href="mailto:#">asistant@email.com</a> </p>
						</div>
					</div>
					-->
					<!-- /.services-2 -->

					<div class="divide30" style="display:none"></div>

					<div class="form-container">
						<div class="response alert alert-success"></div>
						<form class="forms" action="contact/form-handler.php" method="post">
							<fieldset>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-row text-input-row name-field">
											<label><:CONTACT_NAME_LABEL/></label>
											<input type="text" name="name" id="name" class="text-input defaultText required"/>
										</div>
										<div class="form-row text-input-row email-field">
											<label><:CONTACT_EMAIL_LABEL/></label>
											<input type="text" name="email" id="email" class="text-input defaultText required email"/>
										</div>
										<div class="form-row text-input-row subject-field">
											<label><:CONTACT_SUBJECT_LABEL/></label>
											<input type="text" name="subject" id="subject" class="text-input defaultText"/>
										</div>
									</div>

									<div class="col-sm-6 lp5">
										<div class="form-row text-area-row">
											<label><:CONTACT_MESSAGE_LABEL/></label>
											<textarea name="message" id="message" class="text-area required" style="min-height: 140px !important"></textarea>
											<div class="g-recaptcha" data-sitekey="6LeZ0AYTAAAAANV-THUZMrZVHHP6pu6_kfcvBaw7" data-theme="dark" style="float:right; margin-bottom: 20px"></div>
										</div>
										<div class="form-row hidden-row">
											<input type="hidden" name="hidden" value="" />
										</div>
										<div class="nocomment">
											<label for="nocomment">Leave This Field Empty</label>
											<input id="nocomment" value="" name="nocomment" />
										</div>
									</div>

									<div class="col-sm-12">
										<div class="button-row pull-right">
											<input type="submit" value="<:CONTACT_BTN_LABEL/>" name="submit" class="btn btn-submit bm0" />
										</div>
									</div>

									<!--
									<div class="col-sm-6 lp5">
										<div class="button-row pull-left">
											<input type="reset" value="Clear Message" name="reset" class="btn btn-submit bm0" />
										</div>
									</div>
									-->

									<input type="hidden" name="v_error" id="v-error" value="Required" />
									<input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
								</div>
							</fieldset>
						</form>
					</div>
					<!-- /.form-container -->

				</div>
				<!-- /.box -->

			</section>
			<!-- /#contact -->

			<footer class="footer box">
				<p class="pull-left"><:FOOTER_LABEL/></p>
				<ul class="social pull-right">
					<li><a href="https://www.facebook.com/eldiletantedigital" target="_blank"><i class="icon-s-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/eldiletantedigital/" target="_blank"><i class="icon-s-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/in/beovideskevin/" target="_blank"><i class="icon-s-linkedin"></i></a></li>
					<!-- <li><a href="https://www.vimeo.com/eldiletante" target="_blank"><i class="icon-s-vimeo"></i></a></li> --> 
				</ul>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer -->

		</div>
		<!-- /.container -->

	</div>
	<!-- /.body-wrapper -->

	<!-- External JavaScripts  -->
	<script src="/style/js/jquery.min.js"></script>
	<script src="/style/js/bootstrap.min.js"></script> 
	<script src="/style/js/jquery.themepunch.tools.min.js"></script>
	<script src="/style/js/classie.js"></script>
	<script src="/style/js/plugins.js"></script>
	<script src="/style/js/scripts.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/style/js/jquery.ripples.min.js"></script>

	<!-- Custom Javascript -->
	<script>
		var is_focussed = true;

		$(document).ready(function () {
			$('a[href*="#"]').on('click', function (e) {
				e.preventDefault();

				$('html, body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				}, 750, 'linear');
			});

			// this is becase there are several background images, different sizes
			var postfix = window.innerWidth > 992 ? "b" : "c";

			var backfilename = "/style/images/backgrounds/bg" + Math.floor((Math.random() * 5) + 1) + postfix + ".jpg";
			$.backstretch([backfilename]);

			$(".backstretch").css("background-image", "url("+backfilename+")");
			$(".backstretch").css("background-repeat", "no-repeat");
			$(".backstretch").css("background-position", "center");
			$(".backstretch").css("background-attachment", "fixed");
			$(".backstretch").css("-webkit-background-size", "cover");
			$(".backstretch").css("-moz-background-size", "cover");
			$(".backstretch").css("-o-background-size", "cover");
			$(".backstretch").css("background-size", "cover");
			$('.backstretch').ripples({
				resolution: 512,
				dropRadius: 10,
				perturbance: 0.04,
				interactive: false
			});
			$('.backstretch img').remove();

			$('.backstretch').ripples("drop",
						Math.floor((Math.random() * $('.backstretch').css('width').replace('px','')) + 1),
						Math.floor((Math.random() * $('.backstretch').css('height').replace('px','')) + 1),
						10, 0.4);

			setInterval(function () {
					if (!is_focussed) {
						return false;
					}
					$('.backstretch').ripples("drop",
						Math.floor((Math.random() * $('.backstretch').css('width').replace('px','')) + 1),
						Math.floor((Math.random() * $('.backstretch').css('height').replace('px','')) + 1),
						Math.floor((Math.random() * 10)),
						Math.random().toFixed(2));
				},
				20000);

		});

		if (/*@cc_on!@*/false) { // check for Internet Explorer
			document.onfocusin = onFocus;
			document.onfocusout = onBlur;
		} else {
			window.onfocus = onFocus;
			window.onblur = onBlur;
		}

		function onBlur() {
			is_focussed = false;
		};

		function onFocus(){
			is_focussed = true;
		};

	</script>
</body>
</html>
