<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->

		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="El Diletante Digital, Digital Dilettante, Artist gallery, Galeria de artista, ASCII art, Arte ASCII, Arte digital, Digital art, NFT, Opensea, Erotic art, Photography, Arte erotico, Fotografia, crypto, cryptoart" />
		<meta name="description" content="Gallery of the artist Kevin Beovides Casas. My work focuses on erotic photography and NFTs. The pictures were processed with an application I programmed and built." />
		<meta name="author" content="Kevin Beovides Casas">
		<meta property="og:title" content="Kevin Beovides Casas" />
		<meta property="og:url" content="https://www.eldiletante.com" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://www.eldiletante.com/eldiletante.com/assets/images/self-portrait-small.jpg" />
		<meta property="og:description" content="Art gallery where you can find NFT, erotic art, photography, digital art and ASCII art." />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/eldiletante.com/assets/images/favicon.png">

		<!-- Page Title -->
		<title>Kevin Beovides Casas | <:TITLE_SEO/> | El Diletante Digital, Digital Dilettante, Artist gallery, Galeria de artista, ASCII art, Arte ASCII, Arte digital, Digital art, NFT, Opensea, Erotic art, Photography, Arte erotico, Fotografia, crypto, cryptoart</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,900,200&display=swap'  type='text/css'>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="/eldiletante.com/assets/css/bootstrap.mine.css">

		<!-- Custom css file -->
		<link rel="stylesheet" href="/eldiletante.com/assets/css/style.css">

		<!-- Plugins -->
		<link rel="stylesheet" href="/eldiletante.com/assets/css/jquery.fullPage.css">
		<link rel="stylesheet" href="/eldiletante.com/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/eldiletante.com/assets/css/animate.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Dynamic styles -->
		<:STYLES/>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4MJGV6BT7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-Z4MJGV6BT7');
		</script>
	</head>
	<body>

		<!-- Container -->
		<main class="container">

			<!-- Mobile Menu -->		
			<div class="mobile-menu-overlay transition">
				<div class="mobile-menu">
					<i class="fa fa-times fa-2x"></i>
				</div>
				<ul class="mobile-menu-content">
					<li class="mobile-menu-item">
						<a href="/"><:HOME/></a>
					</li>
					<li class="mobile-menu-item">
						<a href="#" class="dropdown"><:GALLERY/></a>
						<ul class="mobile-submenu">
							<li><a href="https://oncyber.io/kevinbcasas" target="_blank"><:VR/></a></li>
							<li><a href="/itinerant"><:ITINERANT/></a></li>
							<li><a href="/nudes"><:NUDES/></a></li>
							<li><a href="/rolando"><:POEMS/></a></li>
						</ul>
					</li>
					<li class="mobile-menu-item">
						<a href="#" class="dropdown"><:STORE/></a>
						<ul class="mobile-submenu">
							<li><a href="https://opensea.io/BeovidesKevin" target="_blank">Opensea.io</a></li>
							<li><a href="https://foundation.app/@beovideskevin" target="_blank">Foundation.app</a></li>
							<li><a href="https://rarible.com/kevinbcasas" target="_blank">Rarible.com</a></li>
							<li><a href="https://objkt.com/profile/tz2Uhk9UgRqf1ka6kqJU518WvWtDu5C2WzfS/created" target="_blank">Objkt.com</a></li>
						</ul>
					</li>
					<li class="mobile-menu-item">
						<a href="#" class="dropdown"><:ABOUT/></a>
						<ul class="mobile-submenu">
							<!-- <li><a href="/show">The show</a></li> -->
							<li><a href="/app"><:THEAPP/></a></li>
							<li><a href="/book"><:THEBOOK/></a></li>
							<li><a href="/edd"><:THEPROJ/></a></li>
							<li><a href="/artist"><:THEART/></a></li>
						</ul>
					</li>
					<!-- <li class="mobile-menu-item">
						<a href="#" class="dropdown">Previous</a>
						<ul class="mobile-submenu">
							<li><a href="https://legacy.eldiletantedigital.com">El Diletante Digital 2006-2012</a></li>
							<li><a href="https://www.eldiletantedigital.com">El Diletante Digital 2013-2021</a></li>
						</ul>
					</li> -->
					<li class="mobile-menu-item">
						<a href="/contact"><:CONTACT/></a>
					</li>
          <li class="mobile-menu-item">
            <a href="<:LANGA/><:ROUTE/>"><:LANGWORD/></a>
          </li> 
				</ul>
			</div>
			<!-- /Mobile Menu -->

				<:MENU/>

			<!-- Content -->

				<:CONTENT/>

			<!-- /Content -->

		</main>
		<!-- /Container -->

	<!-- JS -->

		<!-- jquery-1.11.3.min js -->
		<script type="text/javascript" src="/eldiletante.com/assets/js/jquery-1.11.3.min.js"></script>

		<!-- Plugins -->
		<script type="text/javascript" src="/eldiletante.com/assets/js/jquery.fullPage.min.js"></script>
		<script type="text/javascript" src="/eldiletante.com/assets/js/imagesloaded.min.js"></script>
		<script type="text/javascript" src="/eldiletante.com/assets/js/website-smooth-scroll.js"></script>

		<!-- Dynamic scripts -->	
		<:SCRIPTS/>
		
		<!-- Main js -->
		<script type="text/javascript" src="/eldiletante.com/assets/js/main.js"></script>

		<!-- Change banner image -->
		<script>
			// var backfilename = "/eldiletante.com/assets/images/background/bg" + Math.floor((Math.random() * 7) + 1) + ".jpg";
			// var parallax = $(".parallax");
			// if (parallax) {
			// 	parallax.css("background-image", "url("+backfilename+")");
			// }
		</script>
	</body>
</html>